* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 100px;
}
.grid-container{
  height: 600px;
  width: 50%;
  border: 2px solid rgb(250, 3, 3);
  background-color: rgb(181, 234, 244);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  /* row-gap: 20px;
  column-gap: 20px; */
  gap:20px;
}
.grid-items{
  background-color: rgb(65, 1, 143);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  color: white;
}